<!DOCTYPE html >
<html lang="en" ng-app="myApp" class="full">
<!--	here myApp is same as the appname in app.js-->

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- add bootstrap -->
	<link rel="stylesheet" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
	<link href='https://fonts.googleapis.com/css?family=Baumans' rel='stylesheet' type='text/css'>
	<link href="style.css" rel="stylesheet">
	<title>Git page Url Generator</title>
	<!-- add angular -->
	<script src="https://code.angularjs.org/1.3.0-rc.1/angular.min.js"></script>
	<script src="app.js"></script>
	<!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
	for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);
mixpanel.init("e52e468fc60baac3ae13558132ab94ad");</script><!-- end Mixpanel -->
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-md-offset-2 col-md-8">
				<h1 class="text-center" id="font">Hello</h1>
				<p>This page will generate gh-pages link just insert following information</p>
			</div>
		</div>


		<div ng-controller="mainController" class="col-md-offset-2 col-md-8">
			<!-- add controller -->
			<form name="form" novalidate class="simple-form">
				<!-- novalidate means it will ignore windows default validation -->
				<input name="uName" type="text" class="form-control" ng-model="user.name" placeholder="Github user name (required)" required="" />
				<!-- form-control in bootstrap -->
				<div ng-show="form.$submitted || form.uName.$touched">
					<!-- if submitted button press or uName inputfield touuched -->
					<div class="alert alert-danger" ng-show="form.uName.$error.required">You need to tell us your user name.</div>
					<!-- if thre is any error in uname input field this div show-->
				</div>
				<br>
				<input name="repoName" type="text" class="form-control" ng-model="user.repo" placeholder="Repository name (required)" required="" />
				<div ng-show="form.$submitted || form.repoName.$touched">
					<div class="alert alert-danger" ng-show="form.repoName.$error.required">You need to tell us your reppository name .</div>
				</div>
				<br/>
				<input type="text" class="form-control" ng-model="user.direc" placeholder="directory if any (optional)" />
				<br/>
				<div class="text-center">
					<input class="btn btn-default" type="submit" ng-disabled="form.$invalid" ng-click="getLink(user)" value="get Link" />
				</div>
				<div ng-hide="form.$invalid" class="text-center">
					<a class="text-center" href="{{links.http+links.name+links.git+ links.repo +links.slash+links.direc}}">{{links.http+links.name+links.git+ links.repo +links.slash+links.direc}} </a>
				</div>
		</div>
		</form>
	</div>

	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>

</html>